<div class="headerBar" color="black">
  <img class="logoLetters" src="../../../assets/Logo/Logotipo-Plasentir-Letters-White.png" alt="Plasentir">

  <mat-toolbar color="black">
    <span class="spacer"></span>
    <div class="flex-container">
      <button class="aboutUs">Sobre nosotros</button>
      <button>
        <span class="icoShoppingCart material-symbols-outlined">shopping_cart</span>
      </button>
      <button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
