.headerBar, .menuAction, .menuButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerBar {
  width: 100%;
  height: 90px;
  background-color: black;
  justify-content: space-between;

  .logoLetters {
    width: 300px;
  }

  .menuAction {
    width: 25%;
    color: white;
    justify-content: space-evenly;
    gap: 10px;

    .menuTittle {
      font-weight: 100;
      font-size: 20px;
    }
  }

  .menuButton {
    justify-content: center;
    gap: 5px;
  }

  .icoShoppingCart, .menuButton, .menuTittle{
    cursor: pointer;
  }
}
