@import '/src/styles/colors';
@import '/src/styles/breakpoints';

.containerFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: $velvet;
  bottom: 0;
  min-height: 280px;
  height: auto;

  .aboutPlasentir {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 80px;
    color: $white;

    .description, 
    .socialLink, .aboutUs {
      font-size: 15px;
    }

    .title {
      font-weight: 300;
      font-size: 25px;
    }

    .contact {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .description {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }

    .location {
      max-width: 300px;
      width: 90%;
    }

    .socialNetworks {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .socialLink {
        text-decoration: none;
        margin-bottom: 8px;
        color: $white;
        display: flex;
        align-items: center;
        gap: 5px;

        .fa-brands {
          font-size: 25px;
        }
      }
    }

    .aboutUs {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .aboutUsContainer, .privacyPolicy {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  .logo {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: $large) {
  .containerFooter {
    .aboutPlasentir {
      justify-content: flex-start;
      margin-left: 10px;
    }
  }
}
