<footer class="containerFooter">
  <div class="aboutPlasentir">
    <div class="contact">
      <h1 class="title">Contacto</h1>
      <span class="description"> <mat-icon>mail</mat-icon> plasentirboutiquecun@gmail.com</span>
      <span class="description"> <mat-icon>call</mat-icon> 998 367 4342</span>
      <span class="description"> <mat-icon>smartphone</mat-icon> +52 1 998 367 4342</span>
    </div>
    <div class="location">
      <h1 class="title">Ubicación</h1>
      <span class="description">Av. Kabah Sur, Plaza Royal Kabah Mz 04, Lt 01, Local 114, Sm 55, C.P 77533 - Cancún, Q. Roo.</span>
    </div>
    <div class="socialNetworks">
      <h1 class="title">Redes Sociales</h1>
      <a class="socialLink" href="https://www.instagram.com/plasentir/" target="_blank"> <i class="fa-brands fa-instagram"></i>
        @plasentir </a>
      <a class="socialLink" href="https://www.facebook.com/people/Plasentir-Boutique/100089846940539/" target="_blank"> <i
          class="fa-brands fa-square-facebook"></i> Plasentir Boutique </a>
      <a class="socialLink" href="https://www.tiktok.com/@plasentirboutiquecancun" target="_blank"> <i class="fa-brands fa-tiktok"></i>
        @plasentirboutiquecancun </a>
    </div>
  </div>
  <img class="logo" src="../../../assets/Logo/Logotipo-Plasentir.png" alt="PlasentirLogo">
</footer>
