@import '/src/styles/colors';
@import '/src/styles/breakpoints';

.headerBar,
.options {
  display: flex;
  justify-content: space-between;
}

.headerBar {
  width: 100%;
  height: 90px;
  background-color: $velvet;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .logoLetters {
    cursor: pointer;
    margin-left: 20px;
    width: 200px;
  }

  .options {
    margin-right: 20px;

    .icoShoppingCart {
      color: $white;

      .mat-badge-content {
        background-color: $silk-warm;
        color: $velvet;
      }
    }
    .home {
      font-size: 16px;
      color: $white;
    }
  }
}

.mat-badge-content {
  background: $rose-bud;
  color: $tundora;
}

@media (max-width: $small) {
  .headerBar { 
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
}
