@import '../../../styles/colors';

.modal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
  max-height: 700px;

  .list {
    list-style: none;
    padding: 0;
    overflow-y: scroll;

    .item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      height: auto;
      width: 100%;
      .image {
        width: 50px;
      }

      .name {
        text-align: left;
        margin-left: 10px;
        width: 190px;
      }
    }
  }

  .total {
    display: flex;
    justify-content: flex-end;
    color: $silk-warm;
  }

  .empty-cart {
    text-align: center;
    display: flex;
  }

  .shop-button {
    background-color: $shell;
    color: $velvet;
    margin: 0 auto;
    width: 80%;
    border-radius: 8px;
    
    .fa-brands {
      font-size: 20px;
      font-weight: 600;
      color: $velvet;
      margin-left: 5px;
    }
  }
}
