<section class="modal">
  <ul class="list" *ngIf="itemsInCart; else noItemsTemplate">
    <ng-container *ngFor="let item of shoppingCartItems">
      <li class="item">
        <img class="image" src="https://cdn-icons-png.flaticon.com/512/4416/4416740.png" [alt]="item.code">
        <p class="name">{{item.name}}</p>
        <p>{{item.price | currency}}</p>
        <button mat-button (click)="removeItem(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ng-container>
  </ul>
  <ng-container *ngIf="itemsInCart">
    <div class="total">
      <h2>Total: {{ total | currency}}</h2>
    </div>
    <button  
      class="shop-button"
      mat-flat-button 
      (click)="goToWhatsApp()"
    >
      Continuar compra
    </button>
  </ng-container>

  <ng-template #noItemsTemplate>
    <h1>No hay items agregados al carrito de compras</h1>
    <h1>:(</h1>
  </ng-template>
</section>
