@import '/src/styles/colors';

.searchBar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;

  .searchBox {
    width: 70%;
    height: 55px;
    border: 2px solid $velvet;
    border-radius: 15px;
    padding: 6px;

    .title {
      color: $velvet;
    }

    .search-icon {
      color: $velvet;
    }
  }
}
