@import '/src/styles/colors';

.card {
  border-radius: 10px;
  cursor: pointer;
  height: auto;
  margin: 20px auto;
  max-width: 300px;
  width: 85%;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      width: 150px;
      height: 150px;
    }

    .name {
      text-align: center;
      overflow-y: hidden;
      height: 80px;
      font-weight: 500;
    }

    .price {
      color: $rose-bud;
      font-size: x-large;
      font-weight: 500;
      margin-top: 0;
    }
  }

  .action {
    width: 100%;
  }

  .iconAdd, .iconRemove {
    font-size: 20px;
    position: absolute;
    margin-top: 7px;
  }

  .enable {
    background-color: $rose-bud;
    color: $tundora;
  }
  
  .disable {
    background-color: $tundora;
    color: $rose-bud;
  }
}
