<mat-card class="card" color="">
  <mat-card-content class="content">
    <img class="image" src="https://cdn-icons-png.flaticon.com/512/4416/4416740.png" />
    <h2 class="name">{{ product.name }}</h2>
    <p class="description">{{ product.description }}</p>
    <h3 class="price">{{ product.price | currency }}</h3>
  </mat-card-content>
  <mat-card-actions>
    <button 
      mat-flat-button 
      [disabled]="addedToCart"
      [ngClass]="addedToCart ? 'action disable' : 'action enable'"
      (click)="addToCart()"
      >
      {{ addedToCart ? 'Agregado al carrito' : 'Agregar al carrito' }}
    </button>
  </mat-card-actions>
</mat-card>
