<mat-card class="card">
  <mat-card-content class="content" (click)="goToDetail()">
    <img class="image" [src]="productImage" [alt]="product.image" />
    <h2 class="name">{{ product.name | titlecase }}</h2>
    <h3 class="price">{{ product.price | currency }}</h3>
  </mat-card-content>
  <mat-card-actions>
    <button  
      mat-flat-button 
      [ngClass]="addedToCart ? 'action disable' : 'action enable'"
      (click)="addRemoveToCart()"
      >
      {{ addedToCart ? 'Remover del carrito' : 'Agregar al carrito' }}
    </button>
  </mat-card-actions>
</mat-card>
