@import '/src/styles/colors';
@import '/src/styles/breakpoints';

.card {
  border-radius: 10px;
  background-color: $silk-warm;
  cursor: pointer;
  height: auto;
  margin: 20px auto;
  width: 300px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      width: 150px;
      height: 150px;
    }

    .name {
      text-align: center;
      overflow-y: hidden;
      height: 80px;
      font-weight: 500;
      color: $velvet;
    }

    .price {
      color: $velvet;
      font-size: x-large;
      font-weight: 500;
      margin-top: 0;
    }
  }

  .action {
    width: 100%;
  }

  .iconAdd, .iconRemove {
    font-size: 20px;
    position: absolute;
    margin-top: 7px;
  }

  .enable {
    background-color: $velvet;
    color: $white;
  }
  
  .disable {
    background-color: $velvet;
    color: $white;
  }
}

@media (max-width: $x-small) {
  .card {
    width: 230px;
  }
}
