$rose-bud: #FABE90;
$black: black;
$mine-shaft: #212121;
$bright-red: #AC0404;
$white: white;
$tundora: #424242;
$Mercury: #E7E7E7;
$Chateau-Green: #45bf54;

// Paleta Plasentir:
$scarlet: #C02126;
$velvet: #65000E;
$silk-warm: #EFEDEA;
$shell: #DBC7BE; 
$black-swan: #1D1923;
$neon-pink: #FF1658;
