<h1 class="title">Política de privacidad</h1>
<div class="policy">
  <p class="description">
    Esta Política de Privacidad ha sido elaborada para reforzar nuestro compromiso con preservar la información personal
    de nuestros clientes. <br><br>

    Este documento aborda como <b><i>Plasentir Sex Shop Boutique</i></b> maneja la información confidencial del usuario, sea
    recopilada directamente a través de la página web/móvil o almacenada en su base de datos a través de otros métodos de
    recolección, como llamadas telefónicas o formularios de suscripción.<br><br>

    Esta política no es aplicable a compañías que no sean propiedad o estén bajo control de <b><i>Plasentir Sex Shop Boutique</i></b>,
    así como individuos que no actúen como empleados o contratados de <b><i>Plasentir Sex Shop Boutique</i></b>.<br><br>

    Nuestra página puede tener enlaces para páginas web externas. <b><i>Plasentir Sex Shop Boutique</i></b> no se
    responsabiliza de las políticas de privacidad ni del contenido de las mismas. Te recomendamos siempre que leas las política de privacidad
    de cualquier página web antes de proporcionar cualquier información confidencial.<br><br>

    Esta política de privacidad depende de la norma vigente y por lo tanto está sujeta a cambios. Te recomendamos
    revisarla periódicamente.<br><br>

    Si <b><i>Plasentir Sex Shop Boutique</i></b> realizase cambios sustanciales en sus procesos de tratamiento de información
    confidencial, y esto afectase las condiciones de seguridad o confidencialidad, el cliente seria diligentemente
    notificado a través de <br>
    <i>a)</i> notificación pública en nuestra página de inicio; <br>
    <i>b)</i> notificación via email para usuarios registrados.<br><br>

    Las siguientes disposiciones se deben considerar a propósito de esta política:<br>
    1 - <b><i>Plasentir Sex Shop Boutique</i></b> recopila información personal (capaz de identificar un usuario) cuando: <br>
    <i>a)</i> el usuario se registra y crea una nueva cuenta; <br>
    <i>b)</i> el usuario se inscribe para participar en nuestras promociones y concursos;<br>
    <i>c)</i> el usuario se pone en contacto con nosotros a través de los canales de atención al cliente.<br>
    <dd> 1. Los datos recopilados y su uso están tipificados en el item 8 de esta política.</dd>
    <dd> 2. Si el usuario necesitase más información o ponerse en contacto directo, podría hacerlo a través de email
      <b>plasentirboutiquecun@gmail.com</b></dd>
    <dd> 3. Esta tipificado como derecho del usuario el solicitar una copia de todas las informaciones referentes a su
      persona. Esta solicitud puede realizarse a través del email <b>plasentirboutiquecun@gmail.com</b></dd>

    <br>2 - Para cada modelo de colecta de datos, puede solicitarse diferente información dependiendo de el propósito de
    dicha recopilación. El usuario siempre será informado de la colecta de datos y podrá optar por no proveerlos. Las
    consecuencias de la decisión, independientemente de cual sea, también será informada.
    <dd>1. El propósito de los datos recopilados, así como el tiempo de retención de estos datos figurará en el formulario
    de registro siempre que sea posible.</dd>

    <br>3 - <b><i>Plasentir Sex Shop Boutique</i></b> recibe y almacena información de navegador (dirección IP y páginas
    visitadas) automáticamente a través de cookies.
    Los cookies son secciones cortas de información que generalmente incluyen un identificador anónimo único enviado a
    tu navegador por algunas páginas web que se mantiene almacenada en el disco duro de tu ordenador. Se utilizan para
    identificarte durante tu próxima visita a dichas páginas web.<br>

    <br>4 - Introducir datos personales de usuario en la página web de <b><i>Plasentir Sex Shop Boutique</i></b>, así como aceptar
    los cookies del navegador, no son necesarios para navegar el sitio web. El usuario que decida hacerlo automáticamente
    reconocen y aceptan los términos y condiciones aquí.<br>

    <br>5 - Todos los datos recopilados por <b><i>Plasentir Sex Shop Boutique</i></b> son manejados a través de protocolos de
    internet seguros y encriptados.<br>

    <br>6 - <b><i>Plasentir Sex Shop Boutique</i></b> dirección el máximo esfuerzo para el correcto y confidencial almacenamiento
    de la información confidencial.<br>

    <br>7 - Toda la información recopilada es almacenada en la base de datos de <b><i>Plasentir Sex Shop Boutique</i></b>, ubicada
    en Plaza Royal Kabah (antes The Village), SM 55, Mza. 4, Lote 1, Local 114; C.P. 77533; Cancún, Quintana Roo; México. <br>

    <br>8 - <b><i>Plasentir Sex Shop Boutique</i></b> utiliza la información personal del usuario para los siguientes propósitos
    generales:
    <i>(I)</i> informar al usuario sobre nuevos productos; <i>(II)</i> actualizar información de usuario para fines de contacto por
    teléfono, e-mail, correo y mensajes de texto, entre otros medios de comunicación; <i>(III)</i> agilizar la experiencia del
    usuario; <i>(IV)</i> elaborar datos estadísticos generales, sin identificar al usuario; <i>(V)</i> responder dudas y solicitudes
    del usuario; <i>(VI)</i> desarrollar campañas de marketing y comunicación, así como anunciar ofertas; y <i>(VII)</i> notificar al
    usuario sobre novedades corporativas.
    <dd>1. Los datos proporcionados en la página web se mantendrán en nuestra base mientras sea necesario para nuestras
    operaciones, hasta que el usuario solicite su eliminación o hasta que retire la autorización para su uso.</dd>
    <dd>2. Tal solicitud debe hacerse directamente por e-mail, escribiendo a <b>plasentirboutiquecun@gmail.com</b></dd>
    <dd>3. Usamos la información personal que recopilamos en relación a la prestación de nuestros servicios para detectar y
    prevenir actividades fraudulentas.</dd>

    <br>9 - El acceso a la información personal recolectada está restringido a empleados y personal autorizado de Plasentir
    Sex Shop Boutique. Cualquier individuo que haga mal uso de estos datos y viole esta Política de Privacidad estará
    sujeto a las sanciones aquí detalladas, además de las acciones legales pertinentes.<br>

    <br>10 - La información del usuario nunca será revelada a terceras personas, con la excepción de socios autorizados de
    <b><i>Plasentir Sex Shop Boutique</i></b>. Adicionalmente, la información de usuario nunca será usada por Plasentir Sex
    Shop Boutique para otros propósitos que los detallados aquí excepto si fuera por necesidad de orden judicial.<br>

    <br>11 - Por la presente, el usuario garantiza la veracidad y exactitud de la información personal proporcionada.
    <b><i>Plasentir Sex Shop Boutique</i></b> no podría ser considerada responsable en el caso en el que la información fuese
    proporcionada errónea o falsamente por el usuario.<br>

    <br>12 - El usuario puede modificar, corregir o eliminar las informaciones referentes a su persona cuando desee a través
    de la página “Accede a tu Cuenta”
    1. Cuando sea realizada una solicitud para eliminar información personal, <b><i>Plasentir Sex Shop Boutique</i></b>
    notificará al usuario cuales informaciones fueron eliminadas.
    Por motivos de seguridad, algunos cambios en la cuenta, (incluyendo cualquier información de usuario), solo podrán
    realizarse a través de autenticación de email y contraseña.<br>

    <br>13 - Las newsletters y promociones de marketing enviadas a través de email permitirán al usuario la opción de darse
    de baja de recibir tales mensajes. Todas las solicitudes serán atendidas rápidamente.<br>

    <br>14 - Los servicios de email marketing corren a cargo de una empresa contratada por <b><i>Plasentir Sex Shop Boutique</i></b>, que
    usa sus propios servidores para enviar mensajes de email marketing de nuestra parte.<br>

    <br>15 - Dicha compañía no almacena o usa la información de email de los usuarios <b><i>Plasentir Sex Shop Boutique</i></b>
    para otro propósito que no sea el envío de mensajes de acuerdo con las preferencias definidas por cada usuario en la página de
    <b><i>Plasentir Sex Shop Boutique</i></b>.<br>

    <br>16 - El usuario será responsable de almacenar y salvaguardar su información de inicio de sesión. No recomendamos el
    uso de contraseñas fáciles, como fechas especiales, nombres o secuencias de números. Si el usuario sospechase que
    alguien pudiese haber obtenido conocimiento de su contraseña, se recomienda cambiarla inmediatamente.<br>

    <br>17 - Si el usuario es informado por agentes externos sobre cualquier venta u oferta ofrecida por Plasentir Sex Shop
    Boutique, el mismo deberá comprobar en nuestra página la veracidad de la información. Cualquier información sobre
    ventas o servicios que no puedan ser confirmadas deberán ser desconsideradas.<br>

    <br>18 - Los datos recopilados solamente podrán ser utilizados para los propósitos descritos en esta Política de
    Privacidad.<br>

    <br>19 - Este sitio está protegido por reCAPTCHA y Google. Consulta más detalles en la Política de privacidad y las
    Condiciones de Servicio de Google.<br>  
  </p>
  <h3 class="rights"><i>2023© <b>Plasentir Sex Shop Boutique</b>. Todos los derechos reservados.</i></h3>
</div>
