<h1 class="title">Sobre nosotros</h1>
<div class="about">
  <h3 class="subtitle">MISIÓN</h3>
  <p class="description">
    Sensibilizar y promover la sexualidad como un aspecto esencial del ser humano. A través de nuestros productos de la
    más alta calidad, ofrecemos una alternativa para vivir y experimentar la sexualidad de una manera divertida,
    placentera, segura y –sobre todo– respetuosa. Ofrecemos al público atención y asesoría personalizada en un ambiente
    cómodo donde el respeto, la discreción, la apertura, la diversidad y la confianza son nuestra prioridad. 
  </p>
  <h3 class="subtitle">VISIÓN</h3>
  <p class="description">
    Ser líderes en la orientación de la recreación sexual para eliminar el estigma social que se tiene sobre el tema, y
    promotores del mundo de los artículos eróticos como complemento para una vida sexual más plena con múltiples
    beneficios para la salud mental y física.
  </p>
  <h3 class="subtitle">VALORES</h3>
  <ul>
    <li>Respeto</li>
    <li>Igualdad</li>
    <li>Equidad</li>
    <li>Honestidad</li>
    <li>Ética</li>
    <li>Disciplina</li>
    <li>Empatía</li>
    <li>Discreción</li>
  </ul>
</div>
