@import '../../../styles/colors';

.product-detail {
  align-items: flex-start;
  display: flex;
  margin: 100px auto;
  min-height: 50vh;
  width: 80%;

  .preview {
    width: 700px;
  }

  .action {
    width: 70%;
  }

  .enable {
    background-color: $rose-bud;
    color: $tundora;
  }
  
  .disable {
    background-color: $tundora;
    color: $rose-bud;
  }
}
