<section *ngIf="product; else loading" class="product-detail">
  <div class="image-product">
    <img class="preview" [src]="productImage" [alt]="product.code">
  </div>
  <div class="details">
    <h2 class="name">{{product.name | titlecase}} </h2>
    <p class="description">{{product.description}}</p>
    <h3 class="price">{{ product.price | currency }}</h3>
    <button 
      mat-flat-button
      [ngClass]="isOnCart ? 'action disable' : 'action enable'"
      (click)="addRemoveToCart()"
      class="addTocart"
    >
      {{ isOnCart ? 'Remover del carrito' : 'Agregar al carrito' }}
    </button>
  </div>
</section>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
