<section class="product-detail">
  <img class="preview" src="https://images.emojiterra.com/google/noto-emoji/v2.038/share/1f351.jpg" alt="test">
  <div class="details">
    <h2 class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed recusandae explicabo asperiores eveniet, quaerat optio, quo molestias perferendis nemo placeat aspernatur, obcaecati voluptatum qui dignissimos totam vel ullam maxime debitis.</p>
    <h3 class="price">{{ '100.90' | currency }}</h3>
    <!-- [ngClass]="addedToCart ? 'action disable' : 'action enable'" -->
    <!-- (click)="addRemoveToCart()" -->
    <!-- {{ addedToCart ? 'Remover del carrito' : 'Agregar al carrito' }} -->
    <button mat-flat-button>Agregar al carrito</button>
  </div>
</section>
