@import '../../../styles/colors';
@import '../../../styles/breakpoints';

.product-detail {
  display: flex;
  align-items: flex-start;
  margin: 100px auto;
  min-height: 50vh;
  width: 80%;
  gap: 30px;

  .image-product {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $Mercury;
    border-radius: 50px;
    padding: 20px;

    .preview {
      width: 90%;
    }
  }

  .details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      color: $bright-red;
    }
    
    .price {
      margin-left: 80%;
    }

    .addTocart {
      margin-top: 50px;
      max-width: 300px;
      width: 100%;
      border: 2px solid $Mercury;
      border-radius: 10px;
    }
  }

  .action {
    width: 70%;
  }

  .enable {
    background-color: $rose-bud;
    color: $tundora;
  }
  
  .disable {
    background-color: $tundora;
    color: $rose-bud;
  }
}

@media (max-width: $medium) {
  .product-detail {
    flex-direction: column;
    align-items: center;

    .image-product,
    .details {
      width: 80%;
    }
  }
}
